<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Email de test</title>
	</head>
	<body style="font-family: sans-serif; padding: 20px; color: #333;">
		<h1 style="color: #0056b3;">Ceci est un email de test !</h1>
		<p>
			Bonjour
			{{ prenom }}
			{{ nom }},
		</p>
		<p>
			Si vous recevez cet email, c'est que le service d'envoi fonctionne correctement.
		</p>
	</body>
</html>

